{% extends "account/base.html" %}

{% load i18n %}


{% block content %}

<!-- start contact form section -->
<section class="wow fadeIn big-section" id="section-down">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 md-margin-30px-bottom wow fadeInLeft">
                <div
                    class="padding-fifteen-all bg-light-gray border-radius-6 lg-padding-seven-all sm-padding-30px-all h-100">
                    <span class="text-extra-dark-gray alt-font text-large font-weight-600 margin-25px-bottom d-block">

                        {% block head_title %}{% trans "Change Password" %}{% endblock %}

                    </span>

                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" name="action">{% trans "Change Password" %}</button>
                        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact form section -->

{% endblock %}