{% extends "account/base.html" %}

{% load i18n %}
{% block content %}


<!-- start contact form section -->
<section class="wow fadeIn big-section" id="section-down">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 md-margin-30px-bottom wow fadeInLeft">
                <div
                    class="padding-fifteen-all bg-light-gray border-radius-6 lg-padding-seven-all sm-padding-30px-all h-100">
                    <span class="text-extra-dark-gray alt-font text-large font-weight-600 margin-25px-bottom d-block">

                        {% block head_title %}{% trans "Change Password" %}{% endblock %}

                    </span>

                    <p>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                    </p>

                    {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                    {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" name="action" value="{% trans 'change password' %}" />
                    </form>
                    {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}