
<!DOCTYPE html>

<html lang="tr-tr" dir="ltr">
<head>
<title>Yeni parolayı girin | ScoR</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">



    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=""
  data-admin-utc-offset="10800">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <!-- END Header -->

    

    <div class="main shifted" id="main">
      
      <div class="content">
        
          
        
        <!-- Content -->
        <div id="content" class="colM">
          
          <h1>Yeni parolayı girin</h1>
          
          



<p>Lütfen yeni parolanızı iki kere girin böylece böylece doğru olarak yazdığınızı doğrulayabilelim.</p>

<form method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Parolamı değiştir">
</form>
        </div>
        <!-- END Content -->
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
